.navbar {
	background-image: linear-gradient(to right, #2595e0, #3a6ece);
	font-family: "Poppins", sans-serif;
	transition: 0.3s;
}

.navbar-shadow {
	box-shadow: 0 5px 20px rgba(202, 202, 202, 0.829);
	transition: 0.3s ease-in;
}

.navbar-nav a {
	font-size: 14px;
	font-weight: 600;
	color: white !important;
	margin-right: 15px;
	transition: 0.1s ease-in;
}

.navbar-nav a:hover {
	transform: scale(0.9);
}

.jumbotron {
	background-image: url(../image/jumbotron1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background-attachment: fixed; */
	height: 100vh;
}

.jumbotron .container {
	flex-direction: column;
}

.jumbotron h1 {
	font-size: 35px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: white;
	opacity: 0;
	transform: translate(0, -80px);
	transition: 0.5s;
}

.jumbotron h1.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.jumbotron h1 span {
	color: #2595e0;
}

.jumbotron-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.jumbotron .container a {
	color: white;
	font-weight: 700;
}

.jumbotron .tombol,
.jumbotron .tombol-transparent {
	opacity: 0;
	transform: translate(-80px, 0);
	transition: 0.5s;
}

.jumbotron .tombol-transparent {
	transform: translate(80px, 0);
	transition: 0.5s;
}

.tombol.tombol-muncul,
.tombol-transparent.tombol-muncul {
	opacity: 1;
	transform: translate(0, 0);
}

#tentang-elci p {
	line-height: 27px;
	padding-bottom: 25px;
	font-size: 14px;
}

#tentang-elci .vektor {
	opacity: 0;
	transition: 0.8s;
	transform: translate(0, 100px);
	margin-top: 50px;
}

#tentang-elci .vektor.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

#fakta-elci h3 {
	color: #2595e0;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 800;
	padding-bottom: 8px;
}

#fakta-elci p {
	line-height: 27px;
	padding-bottom: 25px;
	color: rgb(90, 90, 90);
	font-size: 14px;
}

#fakta-elci a.btn.btn-success {
	border-radius: 30px;
	padding: 12px;
	font-size: 11px;
	cursor: pointer;
	width: 165px;
}

#fakta-elci .vektor {
	opacity: 0;
	transition: 0.8s;
	transform: translate(0, 100px);
	margin: 50px 0;
}

#fakta-elci .vektor.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

#wali-kelas {
	font-family: "Poppins", sans-serif;
	background-image: url(../image/homeroom-background.jpg);
	background-position-y: -130px;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.homeroom-flex {
	flex-direction: column;
	opacity: 0;
	transition: 0.5s;
	transform: translate(0, 100px);
}

.homeroom-flex.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.homeroom-image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	border: 7px solid #2595e0;
	background-image: linear-gradient(to right, #2595e0, #3a6ece);
	border-radius: 50%;
}

.homeroom-image-profile {
	width: 235px;
	height: 235px;
	border-radius: 50%;
}

.homeroom-image-hover {
	position: absolute;
	width: 235px;
	height: 235px;
	border-radius: 50%;
	z-index: 1;
}

.homeroom-flex:hover .homeroom-image-closure {
	height: 235px;
	width: 235px;
}

.homeroom-flex:hover .homeroom-image-profil-text {
	visibility: visible;
	opacity: 1;
}

.homeroom-flex:hover .homeroom-image-icon {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}

.homeroom-image-closure {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-image: linear-gradient(to right, #2595e0, #3a6ece);
	transition: 0.3s ease;
}

.homeroom-image-profil-text {
	position: absolute;
	color: white;
	font-size: 17px;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease;
}

.homeroom-image-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 70px;
	color: white;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
}

.homeroom-text {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
}

.homeroom-text h1 {
	font-weight: 700;
	font-size: 26px;
	padding-bottom: 15px;
}

.homeroom-text p {
	color: #2595e0;
	font-weight: 400;
	font-size: 16px;
}

#member {
	margin: 250px 0;
	font-family: "Open Sans", sans-serif;
	background-image: url(../image/background3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#prev,
#next {
	position: absolute;
	top: 26%;
	height: 70%;
	width: 10%;
	z-index: 99;
	cursor: pointer;
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

.member-container {
	margin: 50px auto;
	overflow: hidden;
}

.member-flex-slider {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	height: 680px;
	transition: 0.6s ease-in-out;
}

.member-flex-slider-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.member-content {
	opacity: 0;
	transform: translate(0, 80px);
	transition: 0.3s;
	padding: 20px;
}

.member-content.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.member-content-image img {
	width: 150px;
	height: 190px;
	border-radius: 5px;
	box-shadow: 0 0 15px #2595e0;
	filter: grayscale(70%);
	transition: 0.6s;
}

.member-content:hover .member-content-image img {
	filter: grayscale(0%);
	box-shadow: 0 0 15px #2595e0;
	transform: scale(1.1);
	transition: 0.4s;
}

.member-content-text {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	padding: 0 15px;
}

.member-content-text:hover {
	opacity: 1;
	transition: 0.3s;
}

.member-content-text p {
	color: white;
	font-size: 10px;
	font-weight: 800;
	line-height: 20px;
	padding: 3px;
	letter-spacing: 3;
	margin-top: auto;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.dots {
	width: 100px;
	margin: auto;
}

.dots span {
	width: 13px;
	height: 13px;
	background-color: rgb(211, 211, 211);
	border-radius: 50%;
	cursor: pointer;
}

.dots span.active {
	background-color: #2595e0;
}

#teacher-memo {
	overflow: hidden;
	background-color: whitesmoke;
}

.teacher-memo-slider {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	height: 430px;
	margin: 20px 0;
}

.teacher-memo-slide {
	padding: 0 10%;
	display: flex;
	flex-direction: column;
}

.teacher-memo-flex-image {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: 10px;
}

.teacher-memo-flex-image img {
	width: 230px;
	height: 230px;
	border-radius: 50%;
}

.teacher-memo-flex-text {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.teacher-memo-flex-text h3 {
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	color: rgb(90, 90, 90);
}

.teacher-memo-flex-text b {
	margin: 20px 0 0;
}

.teacher-memo-flex-text p {
	color: rgb(90, 90, 90);
}

.ig-profile {
	background: linear-gradient(to right, #2595e0, #3a6ece);
	margin: 250px 0;
	padding: 50px 0;
	color: white;
	position: relative;
	overflow: hidden;
}

.ig-profile .container .row .col-lg-5 {
	z-index: 2;
}

.ig-profile .container .col-lg-5 .col-lg-3 img {
	width: 100px;
}

.ig-profile h6 {
	color: black;
	font-weight: 500;
}

.ig-profile h2 {
	margin-top: -5px;
}

.ig-profile button {
	width: 150px;
	border-radius: 99px;
	padding: 7px 0;
	background-color: white;
	font-weight: 500;
	border: 4px solid #3a6ece;
	transition: 0.2s ease-in-out;
}

.ig-profile button:hover {
	opacity: 0.9;
}

.ig-profile img.background {
	position: absolute;
	right: 15%;
	top: -18%;
	width: 450px;
	opacity: 0.07;
	pointer-events: none;
}

.ig-profile .container .col-lg-5 img {
	width: 300px;
}

#FAQ {
	font-family: "Poppins", sans-serif;
	margin: 250px 0;
}

#FAQ img {
	margin-top: 50px;
}

#FAQ .vektor {
	opacity: 0;
	transition: 0.8s;
	transform: translate(0, 100px);
	margin-top: 50px;
}

#FAQ .vektor.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.card {
	border-radius: 20px;
}

.header-color h2 button {
	font-size: 15px;
	color: white;
	font-weight: 500;
	transition: 0.3s;
	text-align: left;
}

.card-header.header-color,
.card-body.body-color:hover {
	background-image: linear-gradient(to right, #2595e0, #3a6ece);
}

.card-header.header-color:hover h2 button {
	color: white;
	transition: 0.3s;
}

.card-header.header-color h2 button:hover {
	text-decoration: none;
}

.card-body.body-color:hover p {
	color: white;
}

.body-color p {
	color: rgb(31, 31, 31);
	line-height: 25px;
	font-size: 14px;
	font-weight: 400;
	padding: 15px;
}

#school {
	background-color: whitesmoke;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
	padding: 50px 0;
}

#school p {
	line-height: 28px;
	color: rgb(48, 48, 48);
	font-size: 16px;
}

#school p#alamat i,
#school p#telepon i {
	color: rgb(48, 48, 48);
	padding-right: 10px;
	font-size: 23px;
}

#contact {
	background-image: linear-gradient(to right, #3a6ece, #2595e0);
	font-family: "Poppins", sans-serif;
}

#contact h1 {
	color: white;
	font-size: 32px;
	padding-bottom: 20px;
	margin-top: 20px;
}

#contact p {
	padding: 15px 0;
	border-bottom: 1px solid #ffffff34;
}

#contact p,
#contact p a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

#footer {
	background-image: linear-gradient(to right, #3a6ece, #2595e0);
}

#footer p {
	padding: 25px 0 10px;
	margin-top: 100px;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	display: block;
	border-top: 1px solid #ffffff34;
}

p,
b {
	font-family: "Poppins", sans-serif !important;
	color: rgb(78, 78, 78);
	font-size: 14px;
	font-weight: 350;
}

b {
	color: rgb(90, 90, 90);
	font-weight: bold !important;
}

button:focus {
	outline: none;
}

#tentang-elci,
#fakta-elci,
#wali-kelas,
#FAQ {
	margin: 250px 0;
	font-family: "Poppins", sans-serif;
}

.btn.btn-success {
	border-radius: 30px;
	margin: 5px;
	padding: 6px;
	font-size: 14px;
	cursor: pointer;
	width: 130px;
}

.btn.btn-primary {
	border-radius: 30px;
	margin: 5px;
	padding: 4px;
	font-size: 14px;
	cursor: pointer;
	width: 130px;
}

.btn.tombol {
	border: 0 solid;
	background-image: linear-gradient(to right, #2595e0, #3a6ece);
	transition: 0.3s ease;
}

.btn.tombol:hover,
.btn.tombol-transparent:hover {
	background-image: linear-gradient(to right, #2595e0, #2595e0);
	transition: 0.3s ease;
	transform: scale(0.94);
}

.btn.tombol-transparent {
	border: 2px solid rgb(255, 255, 255);
	background-color: transparent;
	transition: 0.3s ease;
}

h2.header-h2 {
	font-weight: 600;
	font-size: 18px;
	color: #2595e0;
}

h1.header-h1 {
	font-weight: 800;
	font-size: 40px;
	color: rgb(20, 20, 20);
	margin-top: 20px;
	padding-bottom: 30px;
}

p.header-p {
	font-size: 13px;
	color: rgb(90, 90, 90);
	font-family: "Open Sans", sans-serif;
	text-align: center;
	padding: 0px 20px;
	line-height: 25px;
	margin-top: -30px;
	padding-bottom: 30px;
}

@media (min-width: 1200px) {
	.member-flex-slider {
		height: 450px;
	}
}

@media (min-width: 992px) {
	.nav-link {
		color: white !important;
		margin-left: 15px;
	}
	.navbar-nav a {
		font-size: 16px;
		font-weight: 600;
	}
	.jumbotron h1 {
		font-size: 50px;
		font-family: "Poppins", sans-serif;
		font-weight: 700;
		color: white;
	}
	.btn.btn-success,
	.btn.btn-primary {
		border-radius: 30px;
		margin: 5px;
		padding: 10px;
		color: white;
		font-size: 15px;
		font-weight: 600;
		cursor: pointer;
		width: 150px;
	}
	.btn.btn-primary {
		padding: 8px;
	}
	h2.header-h2 {
		font-weight: 600;
		font-size: 20px;
		color: #2595e0;
	}
	h1.header-h1 {
		font-weight: 800;
		font-size: 45px;
		color: rgb(20, 20, 20);
		margin-top: 20px;
		padding-bottom: 40px;
	}
	#tentang-elci {
		text-align: left;
	}
	#tentang-elci p {
		line-height: 25px;
		padding-bottom: 25px;
	}
	#tentang-elci img {
		margin-top: 0;
	}
	p.header-p {
		font-size: 16px;
		color: rgb(90, 90, 90);
		text-align: center;
		padding: 0px 180px;
		line-height: 25px;
		margin: -30px 0 30px 0;
	}
	#fakta-elci .bungkus {
		padding-left: 40px;
	}
	#fakta-elci h3 {
		padding-bottom: 10px;
	}
	#fakta-elci p {
		color: rgb(90, 90, 90);
		line-height: 29px;
		font-family: "Open Sans", sans-serif;
		padding-bottom: 25px;
		font-size: 14px;
	}
	#fakta-elci a .btn.btn-success {
		border-radius: 30px;
		padding: 13px;
		font-size: 14px;
		cursor: pointer;
		width: 185px;
	}
	#fakta-elci img {
		margin-bottom: 0;
	}
	.btn.btn-success,
	.btn.btn-primary {
		padding: 10px;
		font-size: 15px;
		font-weight: 600;
		width: 150px;
	}
	.btn.btn-primary {
		padding: 8px;
	}
	.header-color h2 button,
	.body-color p {
		font-size: 16px;
	}
	.accordion {
		margin-top: 80px;
	}
	#school {
		padding: 0;
	}
	#school img {
		padding-top: 20px;
	}
	.teacher-memo-slider {
		height: 380px;
	}
	.teacher-memo-slide {
		padding: 0 17%;
		flex-direction: row;
	}
	.teacher-memo-flex-text {
		font-family: "Poppins", sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		margin-left: 20px;
	}
}

@media (max-width: 991px) {
	.teacher-memo-flex-image img {
		width: 200px;
		height: 200px;
	}
	.teacher-memo-flex-text {
		margin: 10px;
	}
	.teacher-memo-flex-text h3 {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: rgb(90, 90, 90);
	}
	.member-flex-slider {
		height: 900px;
	}
}

@media (max-width: 767px) {
	.navbar-nav a:hover {
		transform: scale(1) translateY(-3px);
	}
	.member-flex-slider {
		height: 1150px;
	}
	.ig-profile .container .row .col-lg-5 .row {
		justify-content: center;
	}
	.ig-profile .container .row .col-sm-12 {
		margin-bottom: 65px;
	}
	.ig-profile img.background {
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 400px;
	}
}

@media (max-width: 580px) {
	.ig-profile {
		padding: 65px 0;
	}
	.ig-profile .container .row .col-lg-5 .row {
		justify-content: center;
		align-items: center;
	}
	.ig-profile .container .row .col-lg-5 {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.ig-profile .container .row .col-lg-5 .row .col-lg-8 {
		flex: 4;
	}
	.ig-profile .container .row .col-lg-5 .row .col-lg-3 {
		flex: 1;
	}
	.teacher-memo-flex-text h3 {
		font-size: 15px;
		font-weight: 400;
	}
	.teacher-memo-slide {
		padding: 0 6%;
	}
	#school p {
		text-align: center;
	}
	#school .row .col-md-4 img {
		padding-left: 20px;
	}
}

@media (max-width: 480px) {
	.jumbotron {
		background-image: url(../image/jumbotron.jpg);
	}
	.jumbotron h1 {
		font-size: 30px;
	}
	h2.header-h2 {
		font-size: 15px;
	}
	h1.header-h1 {
		font-size: 28px;
	}
	#tentang-elci,
	#fakta-elci,
	#wali-kelas,
	#FAQ,
	#school,
	#contact,
	#footer {
		padding: 0 15px;
	}
	p,
	b {
		font-size: 13px !important;
		font-weight: 350;
	}
	.homeroom-image-profile {
		width: 180px;
		height: 180px;
	}
	.homeroom-image-hover {
		width: 180px;
		height: 180px;
	}
	.homeroom-flex:hover .homeroom-image-closure {
		height: 180px;
		width: 180px;
	}
	.homeroom-image-closure {
		width: 60px;
		height: 60px;
	}
	.homeroom-image-profil-text {
		font-size: 15px;
	}
	.homeroom-image-icon {
		width: 60px;
		height: 60px;
	}
	.homeroom-text h1 {
		font-size: 20px;
	}
	.homeroom-text p {
		font-size: 14px;
	}
	.teacher-memo-slider {
		height: 450px;
	}
	.ig-profile h6 {
		font-size: 15px;
	}
	.ig-profile h2 {
		font-size: 23px;
	}
	.ig-profile h4 {
		font-size: 20px;
	}
	.teacher-memo-flex-image img {
		width: 180px;
		height: 180px;
	}
	.teacher-memo-flex-text h3 {
		font-size: 14px;
	}
	.member-content-text p {
		font-size: 10px !important;
		font-weight: 700;
		line-height: 17px;
	}
	.header-color h2 button {
		font-size: 14px;
	}
	.body-color p {
		line-height: 25px;
	}
	#school p {
		padding: 0 15px;
	}
	#school p#alamat i,
	#school p#telepon i {
		font-size: 20px;
	}
	#contact h1 {
		color: white;
		font-size: 25px;
		padding-bottom: 20px;
		margin-top: 20px;
	}
	#contact p {
		padding: 10px 0;
	}
}

@media (max-width: 430px) {
	.member-flex-slider {
		height: 920px;
	}
	p.header-p {
		font-size: 13px;
		padding: 0 5px;
		padding-bottom: 30px;
	}
	.member-content-image img {
		width: 130px;
		height: 150px;
	}
	.member-content-text {
		padding: 0 10px;
	}
	.member-content-text p {
		font-size: 9px !important;
	}
	.member-content {
		padding: 15px;
	}
	.ig-profile img.background {
		width: 300px;
	}
}

@media (max-width: 350px) {
	.member-flex-slider {
		height: 1600px;
	}
}
